@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://fonts.googleapis.com/css?family=Dosis:500,700|Lato:500|Laila:500");

/*.userLogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.addNewClass {
  color: black;
  background: red;
}*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff; 
  background-image: linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px), 
                    linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

.current-info, .objective-list, .reservation-list, .prep-list {
  font-family: 'Dosis';
  font-weight: 500;  
  font-size: 18px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 8px 5px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  background-image: linear-gradient(to top, #ffc 0%, #ffe 100%);
  padding: 1em;
  margin: 0.5em;
  border-radius: 1em;
}

.current-info:hover, .objective-list:hover, .reservation-list:hover, .prep-list:hover  {
  box-shadow: 0 14px 28px rgba(0,0,0,0.4);
  border-radius: 1em;
}

.navbar-default {
/*  background-color: #F8F8F8;
  border-color: #E7E7E7;*/
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);  
}

.navbar-brand {
 padding: 15px 8px;  
}

.navbar-brand:nth-of-type(2) {
 padding: 18px 8px;  
}

#app-title {
  font-family: 'Laila';
  font-size: 28px;
  font-weight: 500;
  color: darkred;
}

.navbar-brand img {
  width: 25px;
  height: 25px;
}



h3 {
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #347ab7;
}

h3 button {
  margin-left: 4px;
}

hr.divider {
  height: 1px;
  width: 100%;
  display: block; /* for use on default inline elements like span */
  margin: 9px 0;
  overflow: hidden;
  background-color: #c5c5c5; 
}

div.trip-list .navbar-right {
  margin-left: 20px;
}

div.row {
  margin-bottom: 50px;
}

div.prep-item button {
  margin-left: 5px;
}

div.objective-item  button {
  margin-left: 5px;
}

div.login div > * {
  margin-left: 10px;
}

table thead {
  background-color: #98c3e8;
}


