@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.userLogo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  border-radius: 50%;
}

.addNewClass {
  color: black;
  background: red;
}

div.trip-list .navbar-right {
  margin-left: 20px;
}

div.row {
  margin-bottom: 50px;
}

div.prep-item button {
  margin-left: 5px;
}

div.objective-item  button {
  margin-left: 5px;
}

div.login div > * {
  margin-left: 10px;
}